<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Elementary
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarElementaryOptions"></full-calendar>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        Middle School
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarMiddleOptions"></full-calendar>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        High School
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarHighOptions"></full-calendar>
      </c-card-body>
    </c-card>
</div>