<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="forgottenPasswordModel" >
                <h1>Olvidé mi contraseña</h1>
                
                <p class="text-medium-emphasis">Ingrese su email. Recibirá un mensaje con instrucciones para restaurar el acceso a su cuenta.</p>

                <label class="text-danger" *ngIf="forgottenPasswordModel.get('Email')?.touched && forgottenPasswordModel.get('Email')?.errors?.['required']">Campo obligatorio</label>
                <label class="text-danger" *ngIf="forgottenPasswordModel.get('Email')?.touched && forgottenPasswordModel.get('Email')?.errors?.['email']">Campo debe tener un email válido</label>
                <c-input-group class="mb-3">
                  <span cInputGroupText>@</span>
                  <input formControlName="Email" autoComplete="email" cFormControl placeholder="Email" />
                </c-input-group>
                
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.3)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "false">
                </ngx-spinner>

                <div class="d-grid">
                  <button [disabled]="!forgottenPasswordModel.valid" cButton (click)="onSubmit()" color="success">Enviar</button>
                </div>
              </form>
  
              <div class="d-grid">
                <button cButton class="px-0"  color="link" routerLink="/login" style="padding-top: 12px; padding-bottom: 6px;">
                  Ya tengo una cuenta - Log in
                </button>
              </div>
  
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>