<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="accountUnlockModel" (submit)="onSubmit()">
              <h1>Registro</h1>
              <p class="text-medium-emphasis">Crea una cuenta</p>

              <label class="text-danger" *ngIf="accountUnlockModel.get('Email')?.touched && accountUnlockModel.get('Email')?.errors?.['required']">Campo obligatorio</label>
              <label class="text-danger" *ngIf="accountUnlockModel.get('Email')?.touched && accountUnlockModel.get('Email')?.errors?.['email']">Campo debe tener un email válido</label>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input formControlName="Email" autoComplete="email" cFormControl placeholder="Email" />
              </c-input-group>

              <label class="text-danger" *ngIf="accountUnlockModel.get('Password')?.touched && accountUnlockModel.get('Password')?.errors?.['required']">Campo obligatorio</label>
              <label class="text-danger" *ngIf="accountUnlockModel.get('Password')?.touched && accountUnlockModel.get('Password')?.errors?.['minlength']">Contraseña debe tener al menos 3 caracteres</label>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="Password" autoComplete="new-password" cFormControl placeholder="Password" type="password" />
              </c-input-group>

              <label class="text-danger" *ngIf="accountUnlockModel.get('ConfirmPassword')?.touched && accountUnlockModel.get('ConfirmPassword')?.errors?.['required']">Campo obligatorio</label>
              <label class="text-danger" *ngIf="accountUnlockModel.get('ConfirmPassword')?.touched && accountUnlockModel.get('ConfirmPassword')?.errors?.['passwordMismatch']">Passwords no coinciden</label>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="ConfirmPassword" autoComplete="new-password" cFormControl placeholder="Confirmar password" type="password" />
              </c-input-group>
              
              <div class="d-grid">
                <button [disabled]="!accountUnlockModel.valid" cButton (click)="onSubmit()" color="success">Crear cuenta</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
