<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Modificar Dispositivo
      </c-card-header>
      <c-card-body>
          <div class="row">
            <form #customStylesForm="ngForm"
                [formGroup]="editDispositivoModel"
                (ngSubmit)="onSubmit()"
                cForm
                class="row g-3 needs-validation"
                style="margin-top: 0;"
            >
                <div class="col-6">
                    <div class="row">
                        <c-col>
                            <label cLabel>Serial</label>
                            <input formControlName="Serial" cFormControl required type="text" [(ngModel)]="dispositivo.serial"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Serial')?.touched && editDispositivoModel.get('Serial')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                        <c-col>
                            <label cLabel>Tipo</label>
                            <input formControlName="Tipo" cFormControl required type="text" [(ngModel)]="dispositivo.tipo"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Tipo')?.touched && editDispositivoModel.get('Tipo')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                    </div>
                    <div class="row">
                        <c-col>
                            <label cLabel>Modelo</label>
                            <input formControlName="Modelo" cFormControl required type="text" [(ngModel)]="dispositivo.modelo"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Modelo')?.touched && editDispositivoModel.get('Modelo')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                        <c-col>
                            <label cLabel>Marca</label>
                            <input formControlName="Marca" cFormControl required type="text" [(ngModel)]="dispositivo.marca"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Marca')?.touched && editDispositivoModel.get('Marca')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                    </div>
                    <div class="row">
                        <c-col>
                            <label cLabel>Ubicación</label>
                            <input formControlName="Ubicacion" cFormControl required type="text" [(ngModel)]="dispositivo.ubicacion"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Ubicacion')?.touched && editDispositivoModel.get('Ubicacion')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                    </div>
                    <div class="row">
                        <c-col>
                            <label cLabel>Uso</label>
                            <input formControlName="Uso" cFormControl required type="text" [(ngModel)]="dispositivo.uso"/>
                            <label class="text-danger" *ngIf="editDispositivoModel.get('Uso')?.touched && editDispositivoModel.get('Uso')?.errors?.['required']">Campo requerido</label>
                        </c-col>
                        <c-col>
                            <label cLabel>Estado</label>
                            <select formControlName="Status" [(ngModel)]="dispositivo.status" cSelect>
                                <option *ngFor="let item of statuses" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </c-col>
                    </div>
                    
                    <c-col>
                        <label cLabel >Observaciones</label>
                        <textarea formControlName="Observacion" [(ngModel)]="dispositivo.observacion" cFormControl rows="3"></textarea>
                        <label class="text-danger" *ngIf="editDispositivoModel.get('Observacion')?.touched && editDispositivoModel.get('Observacion')?.errors?.['required']">Campo requerido</label>
                    </c-col>

                </div>
                <div class="col-6">
                    <c-card>
                        <c-carousel (itemChange)="onItemChange($event)" [interval]="0">
                            <c-carousel-inner>
                              <c-carousel-item *ngFor="let slide of slides[0]">
                                <img
                                  [src]="slide.src"
                                  alt="{{slide.title}}"
                                  class="d-block w-100"
                                  loading="lazy"
                                />
                              </c-carousel-item>
                            </c-carousel-inner>
                            <c-carousel-control [routerLink] caption="Previous" direction="prev" i18n-caption></c-carousel-control>
                            <c-carousel-control [routerLink] caption="Next" direction="next" i18n-caption></c-carousel-control>
                        </c-carousel>
                        <c-card-body>
                            <h5 cCardTitle>Imágenes del dispositivo</h5>
                            <p cCardText>
                                Cargue varias fotos del dispositivo mostrando todas las caras de interés.
                            </p>
                            <button cButton color="primary">Upload</button>
                        </c-card-body>
                    </c-card>

                    <c-col style="float: right; padding-top: 1em;">
                        <button (click)="onReset()" cButton class="me-1" color="secondary" type="reset">
                            Cancelar
                        </button>
                        <button cButton color="primary" type="submit">
                            <svg cIcon class="me-2 icon" name="cil-check"></svg>
                            Guardar
                        </button>
                    </c-col>

                </div>
            </form>
          </div>
      </c-card-body>
    </c-card>
</div>