  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="resetPasswordModel" (submit)="onSubmit()">
                <h1>Restaurar password</h1>
                <p class="text-medium-emphasis">Ingrese una contraseña nueva para su cuenta</p>
  
                <label class="text-danger" *ngIf="resetPasswordModel.get('NewPassword')?.touched && resetPasswordModel.get('NewPassword')?.errors?.['required']">Campo obligatorio</label>
                <label class="text-danger" *ngIf="resetPasswordModel.get('NewPassword')?.touched && resetPasswordModel.get('NewPassword')?.errors?.['minlength']">Contraseña debe tener al menos 3 caracteres</label>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="NewPassword" autoComplete="new-password" cFormControl placeholder="Nuevo password" type="password" />
                </c-input-group>
  
                <label class="text-danger" *ngIf="resetPasswordModel.get('ConfirmNewPassword')?.touched && resetPasswordModel.get('ConfirmNewPassword')?.errors?.['required']">Campo obligatorio</label>
                <label class="text-danger" *ngIf="resetPasswordModel.get('ConfirmNewPassword')?.touched && resetPasswordModel.get('ConfirmNewPassword')?.errors?.['passwordMismatch']">Passwords no coinciden</label>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input formControlName="ConfirmNewPassword" autoComplete="new-password" cFormControl placeholder="Confirmar nuevo password" type="password" />
                </c-input-group>
  
                <div class="d-grid">
                  <button [disabled]="!resetPasswordModel.valid" cButton (click)="onSubmit()" color="success">Guardar</button>
                </div>
              </form>
  
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  