<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Lower Elementary
        <button 
          cButton class="me-1" variant="outline" size="sm" style="float: right;"
          routerLink="edit-horario/LE"
          >
          Editar
        </button>
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarLowerElementaryOptions"></full-calendar>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        Upper Elementary
        <button 
          cButton class="me-1" variant="outline" size="sm" style="float: right;"
          routerLink="edit-horario/UE"
          >
          Editar
        </button>
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarUpperElementaryOptions"></full-calendar>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        Middle School
        <button 
          cButton class="me-1" variant="outline" size="sm" style="float: right;"
          routerLink="edit-horario/MS"
          >
          Editar
        </button>
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarMiddleOptions"></full-calendar>
      </c-card-body>
    </c-card>

    <c-card class="mb-4">
      <c-card-header>
        High School
        <button 
          cButton class="me-1" variant="outline" size="sm" style="float: right;"
          routerLink="edit-horario/HS"
          >
          Editar
        </button>
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarHighOptions"></full-calendar>
      </c-card-body>
    </c-card>
</div>