<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Usuarios
      <button 
        cButton class="me-1" variant="outline" size="sm" style="float: right;"
        (click)="crearUser()"
        >
          Crear
      </button>
    </c-card-header>
    <c-card-body>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Empleado</th>
            <th>Email</th>
            <th>Username</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td><a routerLink="edit-usuario/{{ usuario.id }}">{{ usuario.names }} {{ usuario.lastNames }}</a></td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.userName }}</td>
            <td>
              <button (click)="deleteUser(usuario.id)" cButton class="me-1 btn-danger" active="true" size="sm" shape="rounded-pill">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Empleado</th>
            <th>Email</th>
            <th>Username</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
      </table>   
    </c-card-body>
  </c-card>
</div>