<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        Dispositivos
        <button 
        cButton class="me-1" variant="outline" size="sm" style="float: right;"
        (click)="crearDispositivo()"
        >
          Crear
        </button>
      </c-card-header>
      <c-card-body>
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Serial</th>
              <th>Tipo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Uso</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dispositivo of dispositivos">
              <td><a routerLink="{{ dispositivo.id }}">{{ dispositivo.serial }}</a></td>
              <td>{{ dispositivo.tipo }}</td>
              <td>{{ dispositivo.marca }}</td>
              <td>{{ dispositivo.modelo }}</td>
              <td>{{ dispositivo.uso }}</td>
              <td>{{ dispositivo.status }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Serial</th>
              <th>Tipo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Uso</th>
              <th>Estado</th>
            </tr>
          </tfoot>
        </table>        
      </c-card-body>
    </c-card>
</div>
  
  