<div class="fade-in">
    <c-card class="mb-4">
      <c-card-header>
        {{ nivelTitle }}
      </c-card-header>
      <c-card-body>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </c-card-body>
    </c-card>
</div>

<c-modal id="liveDemoModal" alignment="center" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modificar evento/hora</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <label cLabel>Nombre</label>
    <input cFormControl [(ngModel)]="nombre" required type="text"/>
    <div class="col-12">
      <label cLabel>Hora inicial</label>
      <timepicker [(ngModel)]="startTime"></timepicker>
      <label cLabel>Hora final</label>
      <timepicker [(ngModel)]="endTime"></timepicker>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">Cerrar</button>
    <button (click)="onSubmit()" cButton color="primary">Guardar</button>
  </c-modal-footer>
</c-modal>